{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/test.css' %}"> 
    </head>
<body style="background-color:rgb(90, 143, 212);">

    <h1>GeeksforGeeks</h1> </marquee> 
        <div class="css1">GeeksforGeeks: It is a computer science 
        portal. It is an educational website. Prepare for the 
        Recruitment drive of product based companies like  
        Microsoft, Amazon, Adobe etc with a free online placement  
        preparation course. 
        </div>  
</body>
</html>